* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1140px;
}

.cabecalho {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    margin-bottom: 1em;
    backface-visibility: hidden; 
}

.nav-pills {
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #00a8ff;
    color: #fff;
}

.nav-link {
    color: #d87309;
}

.nav-link:hover {
    color: #00a8ff;
}

.anchor {
    scroll-margin-top: 15vh;
}


.chamada {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    padding-top: 1em;
    width: 100%;
    column-gap: 2%;
    height: 50vh;
}

.text h2 {
    color: #00b755;
    padding: 2em;
}

.chamada p {
    font-size: 20px;
}

.p2 {
    display: none;
}

.carousel-inner h2 {
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}

.cartoes {
    height: 50vh;
    width: 80%;
    margin: 2em auto;
}

.cartoes .row {
    margin-top: 3em;
    width: 100%;
}

.card-body {
    padding: 0;
    border-bottom: none;
    background-color: white;
    margin: 0 auto;
}

.card img {
    width: 250px;
    height: 170px;
}

.card-footer {
    display: flex;
    width: 250px;
    padding: 0;
    margin: 0 auto 1em;
    justify-content: center;
    background-color: white;
    border-top: none;
}

.btn-secondary {
    --bs-btn-disabled-bg: none;
}


.card-footer button, .conteudo button {
    background-color: #00a8ff;
    color: #fff;
    border-color: #fff;
    display: flex;
    margin: 1em auto 0;
    width: 200px;
    justify-content: center;
}

.card-footer button:hover, .conteudo button:hover {
    color: #fff;
    background-color: #00b755;
    border: #fff;
}

.conteudo ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.conteudo li {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    width: 100%;
    column-gap: 2%;
    justify-content: space-between;
}

.conteudo-img {
    object-fit: fill;
}

.conteudo img {
    border-radius: 5px;
}

.imgMob {
    display: none;
}

#sobre, #passeio, #roteiro {
    height: 100vh;
}

#sobre, #roteiro {
    text-align: right;
}

.conteudo button {
    margin-top: 3em;
}

.conteudo h3 {
    color: #00b755;
}

.conteudo p {
    font-size: 20px;
    text-align: justify;
    margin-top: 2em;
}

.pDesk {
    display: block;
}

.pMob {
    display: none;
}

.btn {
    display: flex;
    margin: 3em auto 0;
    width: 200px;
    justify-content: center;
}

footer {
    text-align: center;
    font-style: italic;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}


footer:hover, footer a:hover {
    color: #d87309;
    cursor: pointer;
}

@media screen and (max-width: 376px) {
    .container {
        max-width: 376px;
    }

    .nav-link:hover {
        color: #d87309;
    }

    .chamada {
        display: block;
        padding-top: 0;
        width: 100%;
        height: 100%;
    }
    
    .p1 {
        display: none;
    }

    .p2 {
        display: block;
        padding: 1em;
        margin: 0 0 8px;
    }

    .text h2 {
        padding: 1em;
    }

    .chamada p {
        text-align: center;
    }

    .carousel {
        display: block;
        width: 100%;
        height: 100%;
    }

    .card {
        flex-direction: row;
        border: none;
    }

    .card-body {
        flex: 0;
    }

    .card img {
        width: 125px;
        height: 85px;
    }
    
    .card-footer {
        width: 125px;
        align-items: center;
    }

    .card-footer button {
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #fff;
        background-color: #00a8ff;
    }

    .btn-secondary {
        --bs-btn-active-bg: #006830;
    }

    .cartoes {
        display: block;
        height: 100%;
        width: 100%;
        margin-top: 8px;
    }

    .cartoes .row {
        margin-top: 8px;
    }

    .row {
        margin: 0 auto;
    }

    .col-4 {
        width: 100%;
    }

    .conteudo li {
        display: block;
    }

    .conteudo img {
        width: 100%;
    }

    .conteudo-texto h3 {
        text-align: left;
    }

    .pDesk {
        display: none;
    }

    .conteudo .pMob {
        margin-top: 8px;
    }

    .pMob {
        display: block;
    }

    .conteudo button {
        margin-top: 8px;
    }

    .imgDesk {
        display: none;
    }

    .imgMob {
        display: block;
    }
}



